* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F9F9;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2rem;
  width: 45vw;
  height: 50vh;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.percentage {
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#refresh-btn {
  width: 150px;
  height: 50px;
}

.progress {
  width: 100%;
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}

.progress-bar{
  -webkit-transition: none !important;
  transition: none !important;
  transition-duration: 2s;
}

@media screen and (max-width:760px){
  .container{
    width: 85vw;
    height: 45vh;
  }
}